body{
    padding: 0;
    margin:0;
    font-family: sans-serif;
}
.main-header{
    height:3.5rem;
    width: 100%;
    background-color: #e398ec;
}
.main-header-div{
    padding:0;
    margin:0;
    height:100%
}
.main-header-list{
    height: 100%;
    list-style: none;
    padding: 1 rem,0 rem;
    margin: 0;
    display: flex;
    align-items: center;
}
.main-header-list-items{
    padding:0;
    margin:0 1rem ;
    
}
.main-header-list-items a{
    text-decoration: none;
    color: #f0eef1;
    font-weight: bold;
}

.main-header-list-items a:hover,
.main-header-list-items a.active{
    cursor: pointer;
    color: #422146;
}
.main-content{
    width: 90%;
    padding: 1rem;
    margin: 0;
    font:inherit;
    text-align: center;
}
.main-content-div{
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}
.main-content-title{
    font-size: 5rem;
    color: #e398ec;
    font-weight: bold;
    text-align: center;
}
.main-content-p{
    font-weight: bold;
    font-size: 2rem;
}