<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add product page</title>
</head>
<body>
    <header>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/add-product">add products</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div>
            <form action="/add-products" method="POST">
                <input type="text" name="product" placeholder="type here...">
                <button type="submit">add product</button>
            </form>
        </div>
    </main>
</body>
</html>