//- this is the pug file for templating engine to add products

extends layouts/main-layout.pug 

block styles 
    link(rel="stylesheet" href="/products.css")
block content
    main.main-content
      .main-content-container
        form(action="/admin/view-product" method="POST" class="main-content-form")
          h1.main-content-form-title Add Product Form
          div
            label(for="product") Product Title
            input(type="text" name="product" id="product" placeholder="type here...")
          button.main-content-form-button(type="submit") add product

