<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop App</title>
</head>
<body>
    <header>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin/add-product">add products</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div>
            <h1>
                welcome to the my shop express app
            </h1>
            <h2>
                Products
            </h2>
            <p>
                products are listed here...
            </p>
        </div>
    </main>
</body>
</html>