//- this file to develop the same shop html in pug format for template engine

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{myTitle}
    link(rel="stylesheet", href="/main.css")
  body
    header.main-header
      .main-header-div
        ul.main-header-list
          li.main-header-list-items
            a.active(href="/") Home
          li.main-header-list-items
            a(href="/admin/add-product") add products
    main.main-content
      .main-content-container
        h1 welcome to the my shop express app
        h2 Products
        p products are listed here...
        if prods.length>0
            .product-grid
                each pro in prods
                    .product-card
                        img.product-image(src="https://edit.org/images/cat/book-covers-big-2019101610.jpg", alt="Product Image")
                        .product-details
                            h2.product-title #{pro.title}
                            p.product-price $99.99
                            p.product-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut urna id justo convallis fermentum.
                            button.add-to-cart Add to Cart
        else 
            h1 no products to display
