//- this file to develop the same shop html in pug format for template engine

extends layouts/main-layout.pug 

block styles 
    link(rel="stylesheet", href="/main.css")

block content
    main.main-content
      .main-content-container
        h1 welcome to the my shop express app
        h2 Products
        p products are listed here...
        if prods.length>0
            .product-grid
                each pro in prods
                    .product-card
                        img.product-image(src="https://edit.org/images/cat/book-covers-big-2019101610.jpg", alt="Product Image")
                        .product-details
                            h2.product-title #{pro.title}
                            p.product-price $99.99
                            p.product-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut urna id justo convallis fermentum.
                            button.add-to-cart Add to Cart
        else 
            h1 no products to display
